@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}
:root {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

.theme-ocean {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.1551 0.0133 270.4352);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.1551 0.0133 270.4352);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1551 0.0133 270.4352);
  --primary: oklch(0.6305 0.1123 227.4281);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9683 0.0069 247.8956);
  --secondary-foreground: oklch(0.2077 0.0398 265.7549);
  --muted: oklch(0.9842 0.0034 247.8575);
  --muted-foreground: oklch(0.3717 0.0392 257.2870);
  --accent: oklch(0.9514 0.0250 236.8242);
  --accent-foreground: oklch(0.3912 0.0845 240.8759);
  --destructive: oklch(0.5143 0.1978 16.9350);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8690 0.0198 252.8943);
  --input: oklch(0.7107 0.0351 256.7878);
  --ring: oklch(0.6305 0.1123 227.4281);

  --chart-1: oklch(0.6305 0.1123 227.4281);
  --chart-2: oklch(0.5000 0.1193 242.7490);
  --chart-3: oklch(0.6847 0.1479 237.3225);
  --chart-4: oklch(0.8276 0.1013 230.3179);
  --chart-5: oklch(0.9014 0.0555 230.9024);

  --sidebar: oklch(0.9842 0.0034 247.8575);
  --sidebar-foreground: oklch(0.2077 0.0398 265.7549);
  --sidebar-primary: oklch(0.6305 0.1123 227.4281);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9683 0.0069 247.8956);
  --sidebar-accent-foreground: oklch(0.6305 0.1123 227.4281);
  --sidebar-border: oklch(0.9288 0.0126 255.5078);
  --sidebar-ring: oklch(0.6305 0.1123 227.4281);

  --radius: 2rem;
}

.theme-red-blue {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.1719 0.0124 226.1506);

  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.1719 0.0124 226.1506);

  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1719 0.0124 226.1506);

  --primary: oklch(0.6025 0.1914 25.9399);
  --primary-foreground: oklch(1.0000 0 0);

  --secondary: oklch(0.3879 0.0556 222.5668);
  --secondary-foreground: oklch(1.0000 0 0);

  --muted: oklch(0.9683 0.0069 247.8956);
  --muted-foreground: oklch(0.4455 0.0374 257.2808);

  --accent: oklch(0.9476 0.0230 20.8624);
  --accent-foreground: oklch(0.6025 0.1914 25.9399);

  --destructive: oklch(0.4437 0.1613 26.8994);
  --destructive-foreground: oklch(1.0000 0 0);

  --border: oklch(0.8690 0.0198 252.8943);
  --input: oklch(0.7107 0.0351 256.7878);
  --ring: oklch(0.6025 0.1914 25.9399);

  --chart-1: oklch(0.6025 0.1914 25.9399);
  --chart-2: oklch(0.3879 0.0556 222.5668);
  --chart-3: oklch(0.6089 0.1109 221.7231);
  --chart-4: oklch(0.7049 0.1867 47.6044);
  --chart-5: oklch(0.7686 0.1647 70.0804);

  --sidebar: oklch(0.3879 0.0556 222.5668);
  --sidebar-foreground: oklch(0.9842 0.0034 247.8575);
  --sidebar-primary: oklch(0.6025 0.1914 25.9399);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.4496 0.0643 222.6135);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.4735 0.0651 221.9053);
  --sidebar-ring: oklch(0.6025 0.1914 25.9399);

  --radius: 0.75rem;
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}
